<%- include("partials/header") %>

<div class="container-fluid landing-page">

    <header class="landing">
        <div class="landing-bg"></div>
        <div class="glug-logo">
            <a href="https://freemex.nitdgplug.org">
                <img src="img/glug_logo_transparent.png">
            </a>
        </div>
        <div class="fest-logo">
            <a href="https://avskr.in">
                <img src="img/aavishkar-logo.png">
            </a>
        </div>
        <div class="sponsor-logo">
            <!-- Insert the sponsor logos here -->
        </div>
        <div class="content">
            <img class="freemex-logo" src="img/logo.png"/>
            <p class="nasdaq-intro">NASDAQ Timings: 8PM - 2:30AM IST</p>
            <% if (event_started){ %>
              <div class="login-buttons">
                  <!-- <p><a class="btn cyan darken-2" href="#" data-toggle="modal" data-target="#modalLRForm" role="button"><i class="fa fa-sign-in"></i> Login/Register</a></p> -->
                  <a class="btn btn-fb" href="/auth/facebook" role="button">
                      <i class="fa fa-facebook left"></i> Facebook
                  </a>
                  <a class="btn btn-gplus" href="/auth/google" role="button">
                      <i class="fa fa-google-plus left"></i> Google+
                  </a>
              </div>
            <%} else {%>
              <div class="white-text">
                <h1>Freemex has not started yet. Stay tuned!</h1>
                <input id="startTime" type="hidden" value=<%=startTime%>>
                <input id="endTime" type="hidden" value=<%=endTime%>>
                <table>
                    <tr>
                        <td><h5>DAYS</h5></td>
                        <td><h5>:</h5></td>
                        <td><h5>HOURS</h5></td>
                        <td><h5>:</h5></td>
                        <td><h5>MINS</h5></td>
                        <td><h5>:</h5></td>
                        <td><h5>SECS</h5></td>
                    </tr>
                    <tr>
                        <td id="days" class="huge-text">00</td>
                        <td class="huge-text">:</td>
                        <td id="hours" class="huge-text">00</td>
                        <td class="huge-text">:</td>
                        <td id="minutes" class="huge-text">00</td>
                        <td class="huge-text">:</td>
                        <td id="seconds" class="huge-text">00</td>
                    </tr>
                </table>
                <!-- <span id="days">Days</span>
                <span id="hours">Hours</span>
                <span id="minutes">Minutes</span>
                <span id="seconds">Seconds</span>
                <span> left</span> -->
              </div>
            <% } %>
        </div>
    </header>
    <%- include ("partials/rules") %>

</div>

<script type="text/javascript" src="/js/timer.js"></script>


<%- include("partials/footer") %>