<%- include("partials/header") %>


<% if (!(message)) {%>
    <%- include("partials/navbar") %>
<% } %>

<!--Main layout-->
<div class="container leaderboard">
    <br>
    <% if (message){ %>
    <div id="event-ended">
      <input id="startTime" type="hidden" value=<%=startTime%>>
      <input id="endTime" type="hidden" value=<%=endTime%>>
      <h2 class="text-center"><%=message.first%></h2>
        <h3 class="text-center"><%=message.second%></h3>
          <div class="black-text text-center">
            <span>Event ended </span>
            <span id="days">00</span> Days
            <span id="hours">00</span> Hours
            <span id="minutes">00</span> Minutes
            <span id="seconds">00</span> Seconds
            <span> ago</span>
          </div>
    </div>
    <br>
    <hr>
    <h1 class="text-center">Leaderboard</h1>

    <% }else{ %>
      <h1>Leaderboard</h1>
    <% } %>
    <hr>
    <br>

    <input type="search" id="leaderboard-search" class="form-control" aria-label="Search" onkeyup="leaderboardSearch()" placeholder="Search for names..">

    <table class="table table-striped leaderboard-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Username</th>
                <th>Total Asset</th>
            </tr>
        </thead>
        <tbody>
            <% players.forEach((player,i) => { %>
            <tr>
                <td><%= i + 1 %></td>
                <td><%= player.name %></td>
                <td><%= player.username %></td>
                <td><%= ((player.cash+player.value_in_stocks)/100).toFixed(2) %></td>
            </tr>
            <% }); %>
        </tbody>
    </table>

</div>
<!--/Main layout-->

<script type="text/javascript" src="/js/leaderboard.js"></script>
<script type="text/javascript" src="/js/timer.js"></script>
<%- include("partials/footer") %>
