<%- include("partials/header") %>
<script src="script.js"></script>
    <div class="container market">
        
        <% stocks.forEach((stock) => { %> 

            <div class="card stock-card" data-name="<%= stock.name %>">
                <div class="card-body">
                    <h4 class="card-title"><%= stock.name %></h4>
                    <div class="market-info">
                        <p class="card-text stock-info"><a target="_blank" href="https://www.google.com/finance?q=NASDAQ:<%= stock.code %>">Details</a></p>
                        <% if(stock.diff >= 0){ %>
                        <p class="card-text stock-info up" id="diff">
                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                        </p>
                        <% }else{ %>
                        <p class="card-text stock-info down" id="diff">
                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                        </p>
                        <% } %>
                        <p class="card-text stock-info"><strong>$</strong></p>
                        <p class="card-text stock-info"><%= stock.code %></p>
                    </div>
                </div>
            </div>
            
        <% }); %>    

    </div>

<%- include("partials/footer") %>