<%- include("partials/header") %>
<%- include("partials/navbar") %>

<div class="portfolio">
    <div class="landing-bg"></div>
    <!-- <input id="startTime" type="hidden" value=<%=startTime%>>
    <input id="endTime" type="hidden" value=<%=endTime%>> -->
    <br>
    <p class="text-right">Logged in as <strong><%= player.username %></strong></p>
    <p class="text-right">
        <a href="#" class="btn change-username" data-toggle="modal" data-target="#changeUsernameModal" role="button">Change username</a>
    </p>
    <!-- Change username modal -->
    <div class="modal fade" id="changeUsernameModal" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
        <div class="modal-dialog cascading-modal" role="document">
            <div class="modal-content">
                <div class="modal-header warning-color-dark">
                    <h4 class="modal-title" id="modalTitle">Change your username</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="change-username-form" action="/change_username/" method="Post">
                    <input type="hidden" name="current_username" value="<%= player.username %>">
                    <div class="modal-body">
                        <div class="md-form">
                            <input type="text" class="form-control" name="username" maxlength="50" required autofocus>
                            <label for="username-input">Current username: <%= player.username %></label>
                            <ul class="input-requirements">
                                <li>Username must have at least 5 characters <i class="fa fa-check"></i><i class="fa fa-exclamation"></i></li>
                                <li>Username must not be registered with someone else <i class="fa fa-check"></i><i class="fa fa-exclamation"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                        <button type="submit" id="changeUsernameButton" class="btn btn-danger">Change</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="app">
		<h1 class="glitch" data-text="Portfolio">Portfolio</h1>
	</div>
    <div class="player-cash-container">
        <div class="player-cash flex-column">
            <div>
                <h5>Cash: $<span id="playercash" class="cash-in-hand"><%= (player.cash/100).toFixed(2) %></span>
                </h5>
            </div>
            <div>
                <h5>Value in Stock: $<span class="value-in-stocks"><%= (player.value_in_stocks/100).toFixed(2) %></span>
                </h5>
            </div>
            <div>
                <div class="total-cash-container">
                    <h5>Total: $<span class="total-cash"><%= ((player.cash + player.value_in_stocks)/100).toFixed(2) %></span>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <p class="text-center">Page last updated on: <strong id="last-updated"></strong></p>
    <hr>
    <h2>YOUR STOCKS</h2>
    <br>
    <div class="stock-cards">
        <% player_stocks.forEach((player_stock) => { %>

            <!--Card-->
            <% if (player_stock.quantity) {%>
                <% let diff = (player_stock.stock.diff * 1)/100; %>
                <% let price = (player_stock.stock.price * 1)/100 %>
            <div class="card stock-card red-card" id="stock-card" data-name="<%= player_stock.stock.name %>">
                <div class="card-body">
                    <!-- <h4 class="card-title"><%= player_stock.stock.name %></h4> -->
                    <div class="market-info flex-column">
                        <div class="flex-row">
                            <div class="flex-column">
                                <div class="card-text stock-info code"><%= player_stock.stock.code %> </div>
                                <div class=" card-text stock-info name"><%= player_stock.stock.name %></div>
                                <div class="card-text stock-qty stock-info">x<%= player_stock.quantity %></div>
                            </div>
                            <div class="flex-column">
                                <img class="graph" src="/img/graph.png" alt="graph">
                            </div>
                        </div>
                        <div class="flex-row">
                            <div class="flex-column">
                                <div class="card-text stock-info price" id="price"><strong>$</strong> <%= price.toFixed(2) %></div>
                                    <div class="card-text stock-info closing-time" id="latestUpdate">Last Update: <%= moment(player_stock.stock.latestUpdate).format('MMM Do, h:mm:ss a') %></div>
                            </div>
                            <div class="flex-column">
                                <div class="stock-info diff-amnt">
                                    <% if(diff >= 0){ %>
                                        <div class="card-text stock-info up" id="diff">
                                            <i class="fa fa-arrow-up" aria-hidden="true"></i>
                                            <%= diff.toFixed(2) %> 
                                        </div>
            
                                    <% }else{ %>
            
                                        <div class="card-text stock-info down" id="diff">
                                            <i class="fa fa-arrow-down" aria-hidden="true"></i>
                                            <%= diff.toFixed(2) %> 
                                        </div>
                                    <% } %>
                                </div>
                                <div class="stock-info diff-percent">
                                    <div class="card-text stock-info" id="diffPerc"><%= (player_stock.stock.diffPerc*100).toFixed(2) %>%</div>
                                </div>
                            </div>
                        </div>
                        <div class="market-buttons flex-row">
                            <div>
                                <a href="#" class="market-buy-button" data-toggle="modal" data-target="#buyModal<%= player_stock.stock.code %>" data-price="<%= player_stock.stock.price %>">Buy More</a>
                            </div>
                            <div>
                                <a href="#" class="market-sell-button" data-toggle="modal" data-target="#sellModal<%= player_stock.stock.code %>">Sell</a>
                            </div>
                        </div>
                    </div>
                        <!--<p class="card-text stock-info">Invested : $<%= player_stock.invested %></p>-->
                </div>
            </div>

            <!-- Buy Modal -->
            <div class="modal fade" id="buyModal<%= player_stock.stock.code %>" tabindex="-1" role="dialog" aria-labelledby="buyModalTitle" aria-hidden="true">
                <div class="modal-dialog cascading-modal" role="document">
                    <div class="modal-content">
                        <div class="modal-header default-color">
                            <h4 class="modal-title" id="buyModalTitle">Buy: <%= player_stock.stock.name %></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form class="buy-form" action="/buystock/" method="Post">
                            <input type="hidden" name="code" value="<%= player_stock.stock.code %>">
                            <div class="modal-body">
                                <h6>Max you can buy: <span class="maxqty">Unknown</span></h6>
                                <div class="md-form">
                                    <input type="number" min="1" placeholder="Quantity" id="form2" name="quantity">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="buyButton" class="btn market-buy-button">Buy</button>
                                <button type="button" class="btn cancel-button" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Sell Modal -->
            <div class="modal fade" id="sellModal<%= player_stock.stock.code %>" tabindex="-1" role="dialog" aria-labelledby="sellModalTitle" aria-hidden="true">
                <div class="modal-dialog cascading-modal" role="document">
                    <div class="modal-content">
                        <div class="modal-header red darken-1">
                            <h4 class="modal-title" id="sellModalTitle">Sell: <%= player_stock.stock.name %></h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form  class="sell-form" action="/sellstock/" method="Post">
                            <input type="hidden" name="code" value="<%= player_stock.stock.code %>">
                            <div class="modal-body">
                                <div class="md-form">
                                    <input type="number" min="1" max="<%= player_stock.quantity %>" placeholder="Quantity" id="form3" class="form-control" name="quantity">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="buyButton" class="btn market-sell-button">Sell</button>
                                <button type="button" class="btn cancel-button" data-dismiss="modal">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <% } %>

        <% }); %>
    </div>
    <div class="buy-stocks">
        <a href="/market" class="buy-stocks-btn btn btn-lg">Buy Stocks</a>
    </div>
</div>

<script src="/js/validation.js"></script>
<script src="/js/portfolio.js"></script>
<script src="/js/timer.js"></script>

<%- include("partials/footer") %>